.modalWindow {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding-top: 1.13rem;
	padding-left: 1.44rem;
	padding-right: 1.44rem;
	padding-bottom: 0.69rem;
	width: 20.69rem;
	border-radius: 0.94rem;
}
