//app size
:root {
	--app-max-width: 1923px;
	--container-min-padding: 18px;
	--container-max-padding: 50px;
}

//app color
:root {
	--bg-color: #eeeeee;
	--main-font-color: #000;
	--main-light-color: #eee9ff;
	--main-dark-color: #5f33e1;
	--light-color: #ab94ff;
	--light-font-color: #6e6a7c;
	--icons-default-color:#292D32
}

//media
	$media-width-phone: 375px;
	$media-width-tablet-min: 412px;
	$media-width-tablet: 724px;
	$media-width-laptop: 1440px;
	$media-width-monitor: 1923px;

//fonts
:root {
	--font-family-main: 'Lexend Deca', sans-serif;
	--font-size-xxs: .5rem;
	--font-size-xs: .7rem;
	--font-size-sm: 1rem;
	--font-size-md: 1.2rem;
	--font-size-lg: 1.5rem;
	--font-size-xl: 2rem;
}
.text-xxs {
	font-size: var(--font-size-xxs);
}
.text-xs {
	font-size: var(--font-size-xs);
}
.text-sm {
	font-size: var(--font-size-sm);
}

.text-md {
	font-size: var(--font-size-md);
}

.text-lg {
	font-size: var(--font-size-lg);
}

.main-dark-color {
	color: var(--main-dark-color);
}

