//app size
:root {
	--app-max-width: 1923px;
	--container-min-padding: 1.13rem;
	--container-max-padding: 3.13rem;
}

//app color
:root {
	--bg-color: #eeeeee;
	--font-color-main: #000;
	--main-dark-color: #5f33e1;
	--border-light-color: #eac1bf;
}

//media
	$media-width-phone: 375px;
	$media-width-tablet-min: 412px;
	$media-width-tablet: 724px;
	$media-width-laptop: 1440px;
	$media-width-monitor: 1923px;

//fonts
:root {
	--font-size-xxs: .5rem;
	--font-size-xs: .7rem;
	--font-size-sm: 1rem;
	--font-size-md: 1.2rem;
	--font-size-lg: 1.5rem;
}
.text-xs {
	font-size: var(--font-size-xs);
}
.text-sm {
	font-size: var(--font-size-sm);
}

.text-md {
	font-size: var(--font-size-md);
}

.text-lg {
	font-size: var(--font-size-lg);
}

.main-dark-color {
	color: var(--main-dark-color);
}

