.cardsSlider{
    background-image: url('../../../../public/cards-slider-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	&Item{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

	}
}