.intentionFigure {
	position: relative;
}

.intentionItem {
	position: relative;
}

.icon {
	display: block;
	position: relative;
	z-index: 1;
}

.caption {
	position: relative;
	z-index: 1;
}

.intentionItem:first-child .intentionFigure::before {
	content: '';
	position: absolute;
	top: -0.25rem;
	left: 50%;
	z-index: 0;
	width: 7rem;
	height: 7rem;
	background-color: rgba(185, 86, 187, 0.35);
	border-radius: 2rem;
	filter: blur(1.5rem);
	transform: translateX(-50%);
}
